<div id="signup" class="uk-card uk-card-body uk-child-width-1-3@m uk-width-3-4 uk-card-center uk-card-default uk-initial" hidden uk-contain>
<div  class="uk-text-center">
  <form id="signup-form" method="post" action="/api/register"  >

      <legend class="uk-legend uk-text-center uk-text-danger">Sign up</legend>
      <div class="uk-margin">
        <input class="uk-input" id="username" name="username" placeholder="Username" />
      </div>
      <div class="uk-margin">
        <input class="uk-input" id="emailid" name="email" placeholder="Your emailid" />
      </div>
      <div class="uk-margin">
        <select class="uk-select" name="role" placeholder="Post">
          <option>G. Sec</option>
          <option>Secretary</option>
        </select>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-large">

        <a class="uk-form-icon uk-form-icon-flip" id="togglePassword" href="#" uk-icon="icon: link"></a>
        <input class="uk-input" type="password" id="setpassword" name="password" placeholder="Set a Password" />
      </div>
      </div>
      <div class="uk-margin uk-text-muted uk-text-center">
        <span id="error-div"></span>
      </div>
      <div class="uk-margin uk-text-center">
        <input class="uk-button uk-button-danger post-button" value="Sign up" type="submit" /> <br />

<br/>



<button class="uk-button uk-button-primary " uk-toggle="target: .uk-initial; animation:  uk-animation-slide-right,uk-animation-slide-left; queue: true">Go back</button>

</div>
</form>
</div>

</div>
