
<div class=" uk-initial uk-child-width-1-2@m " >
  <div id="text" class=" uk-margin-large-left uk-margin-large-top" >
    <h3 class="text-imp heading">For</h3>

    <h2 class="text-imp heading">Better</h2>
    <h1 class="text-imp heading" id="typewriter">Management.</h1>
    </div>
  <div>
<div class="uk-flex uk-flex-right">
    <div class="uk-card uk-card-default uk-card-hover">
      <div id="signin" class="uk-card-body">
        <div>
          <form method="post" action="/api/signin">
            <legend class="uk-legend uk-text-center uk-text-danger">Sign in</legend>
            <div class="uk-margin">
              <input class="uk-input" id="username" name="username" placeholder="Username" />
            </div>
            <div class="uk-margin">
              <input class="uk-textarea" id="password" name="password" type="password" placeholder="Password" />
            </div>
            <div class="uk-margin uk-text-muted uk-text-center">
              <span id="error-div"></span>
            </div>
            <div class="uk-margin uk-text-center">
              <input class="uk-button uk-button-danger post-button" value="Sign in" type="submit" /><br /><br/>
              <button class="uk-button uk-button-text" uk-toggle="target: .uk-initial; animation:  uk-animation-slide-right,uk-animation-slide-left; queue: true">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
