<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <% include partials/headers.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="uk-padding-remove">
  <div className="homepage">

    <% include partials/mom.ejs %>
    <% include partials/seemom.ejs %>

  </div>
</body>

</html>
