<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <% include partials/headers.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="uk-container uk-container-expand uk-height :" >

    <% include partials/signin.ejs %>
    <% include partials/signup.ejs %>

  </div>
</body>
<script src="/javascripts/data.js"></script>

</html>
