<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <% include partials/headers.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include partials/signin.ejs %>
    <% include partials/signup.ejs %>
</body>
<script src="/javascripts/data.js"></script>

</html>
