@import "_config.scss";



// .typewriter{
//   display: inline-block;
//   width: 260px;
//   align-self: center;
//   background-color: #888;
//   margin-left:  10px;
//   text-align: center;
// }

.homepage{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: #66d9ff;
  height: -webkit-fill-available;
  align-items: center;
  color: white;
}
.homepage >div{
  background-color: inherit;
  height: 100%;

}
.platform {
  display: flex;
  flex-flow: column;
  align-items: center;

}

.typewriter > h1{
  font-family: Sans-serif;
  font-size: 65px;

}
.typewriter >h3 {
  font-size: font-size: 2.5rem;
}

.typewriter >h2{
  font-size: 3.3rem;
}

.uk-card-body >h2{
    padding: 30px 30px;
    max-width: 400px;
    height: 300px;
  }
